{% load ui_i18n %}
<article class="product-card">
  <a class="product-media" href="{% url 'nft_detail' nft.pk %}">
    {% if nft.display_image %}<img src="{{ nft.display_image }}" alt="{{ nft.title }}">{% else %}<span class="product-placeholder">BatikCraft</span>{% endif %}
    <span class="product-badge"><i class="fa-solid fa-gavel"></i> {% t "market.common.live_auction" %}</span>
  </a>
  <div class="product-body"><span class="product-author">{% t "common.by" %} {{ nft.owner.public_name }}</span><h3><a href="{% url 'nft_detail' nft.pk %}">{{ nft.title }}</a></h3>{% if nft.description %}<p>{{ nft.description|truncatechars:105 }}</p>{% endif %}<div class="product-meta"><span>{{ nft.bid_count }} {% t "market.common.bids" %}</span><span class="product-price">Rp{% if nft.max_bid %}{{ nft.max_bid|floatformat:0 }}{% else %}{{ nft.starting_price|floatformat:0 }}{% endif %}</span></div></div>
</article>
